/* .column{
    display: flex;
}
.item{
    flex: 1 1 25%;
    margin: 2%;
    width: 25%;
} 

 @media(max-width: 1200px){
    .column{
        flex-direction: column;
    }
    .item{
        margin: 5%;
    }
} */