.column{
    display: flex;
    flex-direction: row;
}
.item{
    flex: 1 1 20%;
    margin: 5% 1%;
}

@media(max-width: 1200px){
    .column{
        flex-direction: column;
    }
    .item{
        margin: 5%;
    }
}
