<<<<<<< HEAD
/* .column{
    display: flex;
}
.item{
    flex: 1 1 25%;
    margin: 2%;
    width: 25%;
} 

 @media(max-width: 1200px){
=======
.column{
    display: flex;
    flex-direction: row;
}
.item{
    flex: 1 1 auto;
    margin: 2%;
}

@media(max-width: 1200px){
>>>>>>> efd5a963e618525f712dcadf8506cdbab2a0cd9a
    .column{
        flex-direction: column;
    }
    .item{
        margin: 5%;
    }
<<<<<<< HEAD
} */
=======
}
>>>>>>> efd5a963e618525f712dcadf8506cdbab2a0cd9a
